.swiper-button-prev,
.swiper-button-next {
  color: #22d3ee;
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(34, 211, 238, 0.7);
  color: black;
}
